.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
}

.menu {
    &__list {
        display: flex;
    }
}
